<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesionC</servlet-name>
        <servlet-class>Servlet.IniciarSesionC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarC</servlet-name>
        <servlet-class>Servlet.RegistrarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitarC</servlet-name>
        <servlet-class>Servlet.SolicitarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearObjeto</servlet-name>
        <servlet-class>Servlet.CrearObjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionC</servlet-name>
        <servlet-class>Servlet.CerrarSesionC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioC</servlet-name>
        <servlet-class>Servlet.InicioC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarC</servlet-name>
        <servlet-class>Servlet.EliminarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarC</servlet-name>
        <servlet-class>Servlet.ActualizarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCalculadoraC</servlet-name>
        <servlet-class>Servlet.ActualizarCalculadoraC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizador</servlet-name>
        <servlet-class>Servlet.Actualizador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCuentaC</servlet-name>
        <servlet-class>Servlet.EliminarCuentaC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarC</servlet-name>
        <servlet-class>Servlet.CancelarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AceptarC</servlet-name>
        <servlet-class>Servlet.AceptarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechazarC</servlet-name>
        <servlet-class>Servlet.RechazarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificarCC</servlet-name>
        <servlet-class>Servlet.CalificarCC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesionC</servlet-name>
        <url-pattern>/IniciarSesionC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarC</servlet-name>
        <url-pattern>/RegistrarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitarC</servlet-name>
        <url-pattern>/SolicitarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearObjeto</servlet-name>
        <url-pattern>/CrearObjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionC</servlet-name>
        <url-pattern>/CerrarSesionC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioC</servlet-name>
        <url-pattern>/InicioC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarC</servlet-name>
        <url-pattern>/EliminarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarC</servlet-name>
        <url-pattern>/ActualizarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCalculadoraC</servlet-name>
        <url-pattern>/ActualizarCalculadoraC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizador</servlet-name>
        <url-pattern>/Actualizador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCuentaC</servlet-name>
        <url-pattern>/EliminarCuentaC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarC</servlet-name>
        <url-pattern>/CancelarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceptarC</servlet-name>
        <url-pattern>/AceptarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechazarC</servlet-name>
        <url-pattern>/RechazarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificarCC</servlet-name>
        <url-pattern>/CalificarCC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
