<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesionC</servlet-name>
        <servlet-class>Servlet.IniciarSesionC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarC</servlet-name>
        <servlet-class>Servlet.RegistrarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitarC</servlet-name>
        <servlet-class>Servlet.SolicitarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearObjeto</servlet-name>
        <servlet-class>Servlet.CrearObjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionC</servlet-name>
        <servlet-class>Servlet.CerrarSesionC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesionC</servlet-name>
        <url-pattern>/IniciarSesionC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarC</servlet-name>
        <url-pattern>/RegistrarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitarC</servlet-name>
        <url-pattern>/SolicitarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearObjeto</servlet-name>
        <url-pattern>/CrearObjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionC</servlet-name>
        <url-pattern>/CerrarSesionC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
