.container-rigth{
    float: right;
    position: relative;
    width: 50%;
    height: 75%;
    margin-right: 20px;
    font-size:16px;
    
}
.container-rigth table{
    float: right;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
    overflow: scroll;
    
}
.container-left{
    margin-left: 3%;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
    margin-bottom: 3%;

}